<!-- <div class="jumbotron">
  <div class="row">
    <div class="col-3">
      <app-aboutme></app-aboutme>
    </div>npm 
    <div class="col-9">
      <app-name></app-name>
    </div>
  </div>
</div> -->

<!-- <div class="row">
  <div class="offset-4 col-3">
    <app-card></app-card>
  </div>
</div> -->
<!-- <div class="maindiv">
  <div class="parent">
    <app-login class="child"></app-login>

  </div>
</div> -->
<!-- <app-dashboard></app-dashboard> -->
<div class="row">
  <div class="col-2">
    <app-sidenavbar></app-sidenavbar>
  </div>
  <div class="col-10">
    <router-outlet></router-outlet>
  </div>
</div>